<h1><%= title %></h1>

<ul>
  <li><a href="http://www.google.com">Google</a></li>
  <li><a href="http://jquery.com">jQuery</a></li>
  <li><a href="http://www.cs.umass.edu">UMass CS</a></li>
</ul>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In accumsan
dictum neque ac congue. Nullam ipsum nisi, sagittis vitae venenatis
tempor, euismod eu risus. Vivamus pharetra enim non eros pharetra
scelerisque. <a href="http://www.google.com">Nullam</a> vitae lectus
at orci dictum malesuada. Mauris urna mauris, porta id aliquet vitae,
consequat ac dolor. Integer placerat tortor et eros consequat
iaculis. Sed pulvinar, sapien <a href="http://www.jquery.com">eget</a>
aliquet rutrum, ligula eros imperdiet felis, id dictum lorem metus sed
elit. Cras vel sagittis erat.
</p>

<div class="note">
</div>

<div class="note">
</div>

<div id="console">
</div>

<div class="blog">
  <div class="entry">
    <h4>Entry 1</h4>
    <p>Blog entry 1</p>
  </div>
  <div class="entry">
    <h4>Entry 2</h4>
    <p>Blog entry 2</p>
  </div>
</div>
