<h3>My List</h3>
<form>
  <input type="text" size="50"/> <br/>
  <input type="submit" value="Add" />
  <input type="submit" value="Delete" />
  <input type="submit" value="Rotate" />
</form>
<ul id="list">
  <li>First</li>
  <li>Second</li>
  <li>Third</li>
  <li>Fourth</li>
</ul>
